* {
  box-sizing: border-box;
  font-family: "Gilroy";
}

/* Navigation CSS */
.menu {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  top: calc(2.25vh + 10px);
  right: 25px;
  z-index: 2;
}

.menu:hover {
  pointer-events: all;
}

.menu-label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  padding-right: 1.25em;
}

.menu-label:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 0em;
  width: 1em;
  height: 0.15em;
  box-shadow: 0 0.2em 0 0 black, 0 0.5em 0 0 black, 0 0.8em 0 0 black;
}

.menu-item {
  position: relative;
  display: inline-block;
  top: 10px;
  right: 15px;
  opacity: 0;
  transition: opacity 500ms ease, top 500ms ease;
  transition-delay: 0;
}

.menu:hover .menu-item {
  opacity: 1;
  top: 0px;
}

.menu-item:hover a {
  color: red;
}

.menu-item:nth-child(1) {
  transition-delay: 100ms;
}

.menu-item:nth-child(2) {
  transition-delay: 150ms;
}

.menu-item:nth-child(3) {
  transition-delay: 200ms;
}

.menu-item:nth-child(4) {
  transition-delay: 250ms;
}

.menu-item:nth-child(5) {
  transition-delay: 300ms;
}

/* 
.menu-item:nth-child(6) {
  transition-delay: 450ms;
} */

.menu:hover .menu-item:nth-child(1) {
  transition-delay: 400ms;
}

.menu:hover .menu-item:nth-child(2) {
  transition-delay: 350ms;
}

.menu:hover .menu-item:nth-child(3) {
  transition-delay: 300ms;
}

.menu:hover .menu-item:nth-child(4) {
  transition-delay: 250ms;
}

.menu:hover .menu-item:nth-child(5) {
  transition-delay: 200ms;
}

/* .menu:hover .menu-item:nth-child(6) {
  transition-delay: 250ms;
} */

.menu a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
  transition: color 250ms ease-in;
}

/* Header CSS */
.trainer-name a {
  color: black;
  /* mix-blend-mode: difference; */
  font-weight: 700;
  text-decoration: none;
  position: relative;
  top: 5px;
  left: 25px;
  z-index: 3;
  transition: color 200ms ease-in;
  transition-delay: 200ms;
}

.trainer-name a:hover {
  color: red;
}

/* Home Page CSS */
.home-wrapper {
  background-image: url("./hero-image.jpg");
  background-size: cover;
  padding: 12.5vh 9vw;
  position: relative;
  top: -40px;
  z-index: 1;
}

.hero-wrapper {
  border: 1px solid red;
  padding: 15vh 3vw 2.5vh 3vw;
  width: 80vw;
}

.hero-text {
  text-transform: uppercase;
  font-size: 2.75rem;
  color: black;
}

.hero-link {
  position: relative;
  top: -25px;
  font-family: "Px Grotesk";
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.hero-arrow {
  margin-left: 2px;
  vertical-align: middle;
  display: inline-block;
  transform: scale(0.5, 0.5);
}

/* Tools Container CSS */
.tools-container {
  position: relative;
  top: -15px;
  margin: 0 7vw 7vh 7vw;
}

.tools-container h1 {
  font-size: 2.5rem;
}

.tool-wrapper {
  width: 38vw;
  border: 3px solid black;
  box-shadow: 0.5em 0.5em 0 0 red;
  padding: 5px 25px 25px 25px;
}

.tool-wrapper h2 {
  font-size: 1.25rem;
  width: 75%;
}

.tool-link {
  text-decoration: none;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}

/* Tool Page CSS */
.tool-page {
  position: relative;
  padding: 25px 50px 50px 50px;
  z-index: 4;
}

.tool-long-desc {
  line-height: 1.5rem;
}

form input {
  padding: 5px 0;
}

select {
  appearance: none;
  user-select: none;
  /* border: 1px solid black; */
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 80%;
  margin-left: 10px;
  overflow: hidden;
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results {
  line-height: 1.5rem;
  font-weight: 700;
}

/* Footer CSS */
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 50px;
  position: relative;
}

.footer-left {
  grid-column: 1 / 2;
  margin-top: 12px;
  margin-left: 5vw;
}

.footer-left p {
  width: max-content;
  padding: 10px 20px;
  font-size: 0.75rem;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid black;
  box-shadow: 0.5em 0.5em 0 0 black;
}

.footer-right {
  grid-column: 2 / 4;
}

.footer-right h2 {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 30px;
}

.footer-right p {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #888888;
}

.footer-right ul {
  list-style: none;
}

.footer-right li {
  position: relative;
  left: -40px;
}

.footer-right li a {
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}

.footer-right .footer-social {
  color: #888888;
  font-size: 0.75rem;
  font-weight: 700;
}

.footer-right .footer-social span {
  padding: 0 15px 0 0;
}

#me {
  text-decoration: none;
  color: #777777;
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
